NodeRedFlows/BluemixNodeRedFlows.txt
[
    {
        "id": "fb7a4bfb.9a672",
        "type": "tab",
        "label": "Bluemix IoT Flows"
    },
    {
        "id": "b6888d94.9ae688",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93183224.f11c3",
        "type": "tab",
        "label": "Watson",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab9101a7.2db43",
        "type": "tab",
        "label": "Rest API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c96f19e.56609e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "SenseHat Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3cd73b09.11c5bc",
        "type": "ui_tab",
        "z": "",
        "name": "Temperature Sense Hat RaspBerry PI",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "e305f6cd.d439f",
        "type": "ui_group",
        "z": "",
        "name": "Sensor",
        "tab": "3cd73b09.11c5bc",
        "disp": false,
        "width": "4"
    },
    {
        "id": "b588e24d.5195c8",
        "type": "ui_group",
        "z": "",
        "name": "Graph",
        "tab": "3cd73b09.11c5bc",
        "disp": false,
        "width": "8"
    },
    {
        "id": "a76e8c43.29b618",
        "type": "ui_group",
        "z": "",
        "name": "Raspberry",
        "tab": "d47788f.2c66cf8",
        "order": 4,
        "disp": false,
        "width": "4"
    },
    {
        "id": "df185bfd.fe81d",
        "type": "ui_group",
        "z": "",
        "name": "GraphRasp",
        "tab": "d47788f.2c66cf8",
        "order": 4,
        "disp": false,
        "width": "4"
    },
    {
        "id": "4d3877ca.e45678",
        "type": "ui_tab",
        "z": "",
        "name": "Raspberry Commands",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "d47788f.2c66cf8",
        "type": "ui_tab",
        "z": "",
        "name": "Raspberry Info",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "aa9565e3.66543",
        "type": "ui_group",
        "z": "",
        "name": "Led",
        "tab": "4d3877ca.e45678",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "cb35aeca.fc6ed",
        "type": "ui_group",
        "z": "",
        "name": "Raspberry Info",
        "tab": "d47788f.2c66cf8",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b11c90e2.26d558",
        "type": "ui_group",
        "z": "",
        "name": "Color Led",
        "tab": "4d3877ca.e45678",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7514e53.8fbea1c",
        "type": "ui_group",
        "z": "",
        "name": "Watson",
        "tab": "3cd73b09.11c5bc",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "53de821.f84d1fc",
        "type": "ui_group",
        "z": "",
        "name": "Command",
        "tab": "d47788f.2c66cf8",
        "order": 3,
        "disp": true,
        "width": "20"
    },
    {
        "id": "e9624d08.11cca8",
        "type": "ibmiot in",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "environment",
        "commandType": "",
        "format": "json",
        "name": "IoT : environment",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": false,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 118,
        "y": 154,
        "wires": [
            [
                "df80fd50.0a247",
                "fc984dfd.7d7bc",
                "f233a7e7.8949f"
            ]
        ]
    },
    {
        "id": "df80fd50.0a247",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "format :  data for DB",
        "func": "// Format Sensor Data for dashDB\nmsg.payload = {\n    SENSORID : msg.deviceId,\n    TEMPERATURE : msg.payload.d.temperature,\n    HUMIDITY : msg.payload.d.humidity,\n    PRESSURE : msg.payload.d.pressure,\n    TIMESENT : 'TIMESTAMP'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 378,
        "y": 154,
        "wires": [
            [
                "4887281a.228658",
                "503f183b.5a597"
            ]
        ]
    },
    {
        "id": "4887281a.228658",
        "type": "debug",
        "z": "fb7a4bfb.9a672",
        "name": "debug : dashDB data",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 620,
        "y": 204,
        "wires": []
    },
    {
        "id": "503f183b.5a597",
        "type": "dashDB out",
        "z": "fb7a4bfb.9a672",
        "dashDB": "",
        "service": "dashDB for PatRaspberry",
        "table": "SENSEDATA",
        "name": "dashDB",
        "x": 629,
        "y": 151,
        "wires": []
    },
    {
        "id": "f8f7a506.8dc6",
        "type": "comment",
        "z": "fb7a4bfb.9a672",
        "name": "Receive IoT events from Sense Hat",
        "info": "",
        "x": 158,
        "y": 114,
        "wires": []
    },
    {
        "id": "853b5d79.237f58",
        "type": "ibmiot out",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "sensehat-pat",
        "deviceType": "SenseHat",
        "eventCommandType": "n/a",
        "format": "json",
        "data": "n/a",
        "qos": 0,
        "name": "IoT : commands",
        "service": "registered",
        "x": 649,
        "y": 766,
        "wires": []
    },
    {
        "id": "4a7b66b7.de344",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "format : command",
        "func": "msg.eventOrCommandType = msg.topic;\nif (msg.topic == \"alarm\") {  \n    msg.payload={d:{color:msg.payload}};\n}\nelse if (msg.topic == \"message\") {   \n    msg.payload={d:{color:\"navy\",\n    background:\"black\",            \n    message:msg.payload}};\n}\nelse if (msg.topic == \"smile\") {   \n    // Yellow circle\n    face = \"2-5,*,yellow,1-6,1-6,yellow,0-7,2-5,yellow\";\n    \n    // Face features\n    face += \",5,2,blue,2,2,blue\"; // eyes\n    face += \",1,4,blue,2,5,blue,2,5,blue,3,5,blue,4,5,blue,5,5,blue,6,4,blue\"; // mouth\n    msg.payload = {pixel: face };\n}\nelse if (msg.topic == \"reboot\") {   \n    msg.payload={d:{color:msg.payload}};\n}\nelse if (msg.topic == \"command\") {   \n    msg.payload={command:msg.payload};\n}\nelse  msg = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 383,
        "y": 768,
        "wires": [
            [
                "853b5d79.237f58",
                "6cc57b1a.ed5d9c"
            ]
        ]
    },
    {
        "id": "117b7ab3.5a076d",
        "type": "inject",
        "z": "fb7a4bfb.9a672",
        "name": "Turn off LED",
        "topic": "alarm",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 133,
        "y": 734,
        "wires": [
            [
                "4a7b66b7.de344"
            ]
        ]
    },
    {
        "id": "6cc57b1a.ed5d9c",
        "type": "debug",
        "z": "fb7a4bfb.9a672",
        "name": "debug : IoT commands",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 660,
        "y": 872,
        "wires": []
    },
    {
        "id": "65450ea1.9f4fd8",
        "type": "comment",
        "z": "fb7a4bfb.9a672",
        "name": "Send IoT commands to Sense Hat LED Matrix",
        "info": "",
        "x": 204,
        "y": 693,
        "wires": []
    },
    {
        "id": "fc984dfd.7d7bc",
        "type": "link out",
        "z": "fb7a4bfb.9a672",
        "name": "SenseEnvData",
        "links": [
            "249f17e7.a8fa1",
            "2c8af526.46046a"
        ],
        "x": 363.5,
        "y": 188.5,
        "wires": []
    },
    {
        "id": "9b9fdbb8.2a96c8",
        "type": "ui_gauge",
        "z": "b6888d94.9ae688",
        "name": "",
        "group": "e305f6cd.d439f",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temp",
        "label": "c",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 577.5,
        "y": 41,
        "wires": []
    },
    {
        "id": "2c8af526.46046a",
        "type": "link in",
        "z": "b6888d94.9ae688",
        "name": "SenseEnvData",
        "links": [
            "fc984dfd.7d7bc"
        ],
        "x": 79.5,
        "y": 141.25,
        "wires": [
            [
                "20cb831d.defa3c",
                "8ffcac7e.20fe5",
                "59cca79.eb24ed8"
            ]
        ]
    },
    {
        "id": "20cb831d.defa3c",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : Temp for Dashboard",
        "func": "// Format Sensor Data for dashDB\nmsg.payload = msg.payload.d.temperature;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 307,
        "y": 48,
        "wires": [
            [
                "9b9fdbb8.2a96c8",
                "55f1baf9.e35c34"
            ]
        ]
    },
    {
        "id": "8ffcac7e.20fe5",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : humidity for Dashboard",
        "func": "// Format Sensor Data for dashDB\nmsg.payload = msg.payload.d.humidity;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 314,
        "y": 138,
        "wires": [
            [
                "c82653b6.bf4db8",
                "f2f3f031.bdeb08"
            ]
        ]
    },
    {
        "id": "59cca79.eb24ed8",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : pressure for Dashboard",
        "func": "// Format Sensor Data for dashDB\nmsg.payload = msg.payload.d.pressure;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 315,
        "y": 231,
        "wires": [
            [
                "24d5c558.40d312",
                "30613cd9.3cbe6c"
            ]
        ]
    },
    {
        "id": "c82653b6.bf4db8",
        "type": "ui_gauge",
        "z": "b6888d94.9ae688",
        "name": "",
        "group": "e305f6cd.d439f",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "wave",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 578.5,
        "y": 142,
        "wires": []
    },
    {
        "id": "24d5c558.40d312",
        "type": "ui_gauge",
        "z": "b6888d94.9ae688",
        "name": "",
        "group": "e305f6cd.d439f",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "Pression",
        "label": "milibar",
        "format": "{{value}}",
        "min": "500",
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 581.5,
        "y": 230,
        "wires": []
    },
    {
        "id": "55f1baf9.e35c34",
        "type": "ui_chart",
        "z": "b6888d94.9ae688",
        "name": "",
        "group": "b588e24d.5195c8",
        "order": 1,
        "width": "8",
        "height": "4",
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 578.5,
        "y": 81,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f2f3f031.bdeb08",
        "type": "ui_chart",
        "z": "b6888d94.9ae688",
        "name": "",
        "group": "b588e24d.5195c8",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 580.5,
        "y": 178,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "30613cd9.3cbe6c",
        "type": "ui_chart",
        "z": "b6888d94.9ae688",
        "name": "",
        "group": "b588e24d.5195c8",
        "order": 3,
        "width": "8",
        "height": "4",
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "500",
        "ymax": "1500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 584.5,
        "y": 269,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d5e3305f.2de7a",
        "type": "ibmiot in",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "RaspCPUTemp",
        "commandType": "",
        "format": "json",
        "name": "IoT : RaspData CPUTemp",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": false,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 144,
        "y": 338,
        "wires": [
            [
                "f2b3b9c6.de245"
            ]
        ]
    },
    {
        "id": "90a740ee.f7464",
        "type": "link out",
        "z": "fb7a4bfb.9a672",
        "name": "RaspCPUTemp",
        "links": [
            "567b103a.66bdc8"
        ],
        "x": 625.5,
        "y": 347.5,
        "wires": []
    },
    {
        "id": "567b103a.66bdc8",
        "type": "link in",
        "z": "b6888d94.9ae688",
        "name": "RaspCPUTemp",
        "links": [
            "90a740ee.f7464"
        ],
        "x": 90.5,
        "y": 330.25,
        "wires": [
            [
                "e7b8a343.c53ca8"
            ]
        ]
    },
    {
        "id": "c3a7a207.d506b8",
        "type": "ibmiot in",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "RaspCPUUsage",
        "commandType": "",
        "format": "json",
        "name": "IoT : RaspData CPU Usage",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": false,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 144,
        "y": 390,
        "wires": [
            [
                "4e3fa4e5.1d8e1c"
            ]
        ]
    },
    {
        "id": "9a712e38.dea36",
        "type": "ibmiot in",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "RaspMemFree",
        "commandType": "",
        "format": "json",
        "name": "IoT : RaspMemFree",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": false,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 122,
        "y": 444,
        "wires": [
            [
                "ea1567bf.9b667"
            ]
        ]
    },
    {
        "id": "504acd29.423784",
        "type": "link in",
        "z": "b6888d94.9ae688",
        "name": "RaspCPUUsage",
        "links": [
            "abebe8e0.7e69e"
        ],
        "x": 100.5,
        "y": 416.25,
        "wires": [
            [
                "403e63a1.596744"
            ]
        ]
    },
    {
        "id": "5e8f6473.d6fc6c",
        "type": "link in",
        "z": "b6888d94.9ae688",
        "name": "RaspMemFree",
        "links": [
            "630ab2b.68398cc"
        ],
        "x": 93.5,
        "y": 529.25,
        "wires": [
            [
                "16a2f3ab.a7f07c"
            ]
        ]
    },
    {
        "id": "c0948778.f91f1",
        "type": "ui_gauge",
        "z": "b6888d94.9ae688",
        "name": "CPUTemp",
        "group": "a76e8c43.29b618",
        "order": 3,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temp CPU",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580.5,
        "y": 326,
        "wires": []
    },
    {
        "id": "7e1d8622.f5c7b8",
        "type": "ui_gauge",
        "z": "b6888d94.9ae688",
        "name": "CPU Usage",
        "group": "a76e8c43.29b618",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "CPU Usage",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 592.5,
        "y": 430,
        "wires": []
    },
    {
        "id": "e307b733.cdfcb",
        "type": "ui_gauge",
        "z": "b6888d94.9ae688",
        "name": "Mem Free",
        "group": "a76e8c43.29b618",
        "order": 2,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Memory usage",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 588.5,
        "y": 527,
        "wires": []
    },
    {
        "id": "abebe8e0.7e69e",
        "type": "link out",
        "z": "fb7a4bfb.9a672",
        "name": "RaspCPUUsage",
        "links": [
            "504acd29.423784"
        ],
        "x": 628.5,
        "y": 399.5,
        "wires": []
    },
    {
        "id": "630ab2b.68398cc",
        "type": "link out",
        "z": "fb7a4bfb.9a672",
        "name": "RaspMemFree",
        "links": [
            "5e8f6473.d6fc6c"
        ],
        "x": 625.5,
        "y": 440.5,
        "wires": []
    },
    {
        "id": "e7b8a343.c53ca8",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : Data for Dashboard",
        "func": "// Format \nmsg.payload = msg.payload.d.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 299,
        "y": 330,
        "wires": [
            [
                "c0948778.f91f1",
                "fa64276b.cd55d8"
            ]
        ]
    },
    {
        "id": "403e63a1.596744",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : Data for Dashboard",
        "func": "// Format \nmsg.payload = msg.payload.d.value;\nmsg.topic=\"CPU\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 292,
        "y": 420,
        "wires": [
            [
                "7e1d8622.f5c7b8",
                "134bd5fb.df7cca"
            ]
        ]
    },
    {
        "id": "fa64276b.cd55d8",
        "type": "ui_chart",
        "z": "b6888d94.9ae688",
        "name": "",
        "group": "df185bfd.fe81d",
        "order": 2,
        "width": "4",
        "height": "4",
        "label": "Temp CPU",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 592,
        "y": 368,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "134bd5fb.df7cca",
        "type": "ui_chart",
        "z": "b6888d94.9ae688",
        "name": "",
        "group": "df185bfd.fe81d",
        "order": 1,
        "width": "4",
        "height": "4",
        "label": "Usage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 576,
        "y": 474,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "16a2f3ab.a7f07c",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : Data for Dashboard",
        "func": "// Format \n\n\nmem = parseInt(msg.payload.d.value,0);\n\nmsg.payload = mem;\nmsg.topic=\"Mem\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 289,
        "y": 531,
        "wires": [
            [
                "e307b733.cdfcb",
                "134bd5fb.df7cca",
                "4000c25e.6fec64"
            ]
        ]
    },
    {
        "id": "420c2bb.fe1f454",
        "type": "ui_button",
        "z": "b6888d94.9ae688",
        "name": "red",
        "group": "b11c90e2.26d558",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "red",
        "payloadType": "str",
        "topic": "alarm",
        "x": 85.5,
        "y": 634,
        "wires": [
            [
                "d69f7250.8fb1c"
            ]
        ]
    },
    {
        "id": "d69f7250.8fb1c",
        "type": "link out",
        "z": "b6888d94.9ae688",
        "name": "Turn Color",
        "links": [
            "eff316c9.2a8038"
        ],
        "x": 438.5,
        "y": 647.5,
        "wires": []
    },
    {
        "id": "eff316c9.2a8038",
        "type": "link in",
        "z": "fb7a4bfb.9a672",
        "name": "Trun Color",
        "links": [
            "d69f7250.8fb1c",
            "3f0d817d.f21fa6"
        ],
        "x": 76.5,
        "y": 782.25,
        "wires": [
            [
                "4a7b66b7.de344"
            ]
        ]
    },
    {
        "id": "1f3c3938.0d1497",
        "type": "link in",
        "z": "fb7a4bfb.9a672",
        "name": "Trun Green",
        "links": [
            "7948d006.96f908"
        ],
        "x": 78,
        "y": 824,
        "wires": [
            [
                "4a7b66b7.de344"
            ]
        ]
    },
    {
        "id": "254ebfbc.b96e9",
        "type": "link in",
        "z": "fb7a4bfb.9a672",
        "name": "Send Message",
        "links": [
            "d9baab54.c0415"
        ],
        "x": 75,
        "y": 865,
        "wires": [
            [
                "4a7b66b7.de344"
            ]
        ]
    },
    {
        "id": "e9dfd1b5.522ec8",
        "type": "comment",
        "z": "b6888d94.9ae688",
        "name": "Raspberry Info",
        "info": "",
        "x": 142.5,
        "y": 275.75,
        "wires": []
    },
    {
        "id": "50189890.27c33",
        "type": "comment",
        "z": "b6888d94.9ae688",
        "name": "Sense Hat",
        "info": "",
        "x": 119.5,
        "y": 21.75,
        "wires": []
    },
    {
        "id": "39312d64.540a2a",
        "type": "comment",
        "z": "b6888d94.9ae688",
        "name": "Sense Hat commands",
        "info": "",
        "x": 147.5,
        "y": 580.75,
        "wires": []
    },
    {
        "id": "891f03cf.f8b62",
        "type": "comment",
        "z": "fb7a4bfb.9a672",
        "name": "Receive Raspberry info",
        "info": "",
        "x": 123,
        "y": 286,
        "wires": []
    },
    {
        "id": "f7a53a74.038618",
        "type": "ibmiot in",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "devsts",
        "deviceId": "PatRaspberry",
        "applicationId": "",
        "deviceType": "PiGateway",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IoT: Status",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": "0",
        "x": 101.5,
        "y": 44.25,
        "wires": [
            [
                "1685b7c9.ff6998",
                "3334bb64.4d0b04"
            ]
        ]
    },
    {
        "id": "1685b7c9.ff6998",
        "type": "debug",
        "z": "fb7a4bfb.9a672",
        "name": "debug : Raspberry status",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 448,
        "y": 36,
        "wires": []
    },
    {
        "id": "3334bb64.4d0b04",
        "type": "link out",
        "z": "fb7a4bfb.9a672",
        "name": "Raspberry Status",
        "links": [
            "a9acb1e.fe54cd"
        ],
        "x": 306.5,
        "y": 69.5,
        "wires": []
    },
    {
        "id": "85226bf2.a4448",
        "type": "comment",
        "z": "b6888d94.9ae688",
        "name": "Raspberry Satus",
        "info": "",
        "x": 124,
        "y": 868,
        "wires": []
    },
    {
        "id": "a9acb1e.fe54cd",
        "type": "link in",
        "z": "b6888d94.9ae688",
        "name": "Raspberry Status",
        "links": [
            "3334bb64.4d0b04"
        ],
        "x": 88.5,
        "y": 917.25,
        "wires": [
            [
                "17616112.1fc8ff"
            ]
        ]
    },
    {
        "id": "4000c25e.6fec64",
        "type": "debug",
        "z": "b6888d94.9ae688",
        "name": "Dashboard",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 576.5,
        "y": 598.5,
        "wires": []
    },
    {
        "id": "635547eb.702d28",
        "type": "ui_text",
        "z": "b6888d94.9ae688",
        "group": "cb35aeca.fc6ed",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Raspberry Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 456.5,
        "y": 921,
        "wires": []
    },
    {
        "id": "17616112.1fc8ff",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : Status",
        "func": "// Format \nstatus = msg.payload.Action;\n\nmsg.payload = status;    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 238,
        "y": 918,
        "wires": [
            [
                "635547eb.702d28"
            ]
        ]
    },
    {
        "id": "7652cfd7.a42c18",
        "type": "watson-text-to-speech",
        "z": "93183224.f11c3",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_MichaelVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "payload-response": true,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
        "x": 553.5,
        "y": 383,
        "wires": [
            [
                "8e0b3e3d.85a5c"
            ]
        ]
    },
    {
        "id": "249f17e7.a8fa1",
        "type": "link in",
        "z": "93183224.f11c3",
        "name": "Temp",
        "links": [
            "fc984dfd.7d7bc"
        ],
        "x": 81.5,
        "y": 94,
        "wires": [
            [
                "f5b646f3.b742"
            ]
        ]
    },
    {
        "id": "f5b646f3.b742",
        "type": "function",
        "z": "93183224.f11c3",
        "name": "format : Temp for Speach",
        "func": "// Format Sensor Data for dashDB\nif (context.global.audio == true){\n    msg.payload = String(msg.payload.d.temperature);\n    msg.payload += ' degree celsius'\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 226,
        "y": 83,
        "wires": [
            [
                "e1f777b2.62ed7"
            ]
        ]
    },
    {
        "id": "8e0b3e3d.85a5c",
        "type": "ui_audio",
        "z": "93183224.f11c3",
        "name": "Temp Audio",
        "group": "e305f6cd.d439f",
        "voice": "0",
        "always": "",
        "x": 772.5,
        "y": 366,
        "wires": []
    },
    {
        "id": "5004d1c5.2a516",
        "type": "ui_switch",
        "z": "b6888d94.9ae688",
        "name": "Audio on",
        "label": "Audio on",
        "group": "7514e53.8fbea1c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 605.5,
        "y": 712,
        "wires": [
            [
                "a9963819.2477f"
            ]
        ]
    },
    {
        "id": "424d1360.ce1174",
        "type": "comment",
        "z": "b6888d94.9ae688",
        "name": "Audio On/Off",
        "info": "",
        "x": 603,
        "y": 660,
        "wires": []
    },
    {
        "id": "a9963819.2477f",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : Status",
        "func": "// Format \n\n\ncontext.global.audio = msg.payload;   \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 711,
        "wires": [
            []
        ]
    },
    {
        "id": "e1f777b2.62ed7",
        "type": "switch",
        "z": "93183224.f11c3",
        "name": "Audio on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 478.5,
        "y": 80,
        "wires": [
            [
                "24fba83a.df892"
            ],
            []
        ]
    },
    {
        "id": "2f8e5d04.d37ca2",
        "type": "comment",
        "z": "b6888d94.9ae688",
        "name": "Audio On/Off",
        "info": "",
        "x": 620.5,
        "y": 823,
        "wires": []
    },
    {
        "id": "fac8eddf.d5bd48",
        "type": "link out",
        "z": "b6888d94.9ae688",
        "name": "ShowTemp",
        "links": [
            "330cb8e7.93675"
        ],
        "x": 814.5,
        "y": 862,
        "wires": []
    },
    {
        "id": "187c00ad.2685af",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "format : command ShowTemp",
        "func": "msg.eventOrCommandType = \"showtemp\";\nmsg.topic = \"showtemp\";\nif (msg.payload==true){\n    msg.payload = {showtemp:\"On\"};\n} else{\n    msg.payload = {showtemp:\"Off\"};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 343,
        "y": 929,
        "wires": [
            [
                "6cc57b1a.ed5d9c",
                "853b5d79.237f58"
            ]
        ]
    },
    {
        "id": "330cb8e7.93675",
        "type": "link in",
        "z": "fb7a4bfb.9a672",
        "name": "ShowTemp",
        "links": [
            "fac8eddf.d5bd48"
        ],
        "x": 99.5,
        "y": 934,
        "wires": [
            [
                "187c00ad.2685af"
            ]
        ]
    },
    {
        "id": "4ea1ab22.899a0c",
        "type": "link out",
        "z": "b6888d94.9ae688",
        "name": "Smile",
        "links": [
            "516350bd.55087"
        ],
        "x": 452,
        "y": 732,
        "wires": []
    },
    {
        "id": "516350bd.55087",
        "type": "link in",
        "z": "fb7a4bfb.9a672",
        "name": "Smile",
        "links": [
            "4ea1ab22.899a0c"
        ],
        "x": 149,
        "y": 893,
        "wires": [
            [
                "4a7b66b7.de344"
            ]
        ]
    },
    {
        "id": "26343f46.4b7da",
        "type": "ibmiot in",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "RaspIP",
        "commandType": "",
        "format": "json",
        "name": "IoT : RaspIP",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": false,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 104,
        "y": 492,
        "wires": [
            [
                "63c35143.7fe088"
            ]
        ]
    },
    {
        "id": "55c89531.565bbc",
        "type": "link out",
        "z": "fb7a4bfb.9a672",
        "name": "RaspIP",
        "links": [
            "171b4a9a.289c25"
        ],
        "x": 627.5,
        "y": 488.5,
        "wires": []
    },
    {
        "id": "de7fc12c.7326c",
        "type": "comment",
        "z": "b6888d94.9ae688",
        "name": "Raspberry IP",
        "info": "",
        "x": 105,
        "y": 994,
        "wires": []
    },
    {
        "id": "171b4a9a.289c25",
        "type": "link in",
        "z": "b6888d94.9ae688",
        "name": "Raspberry IP",
        "links": [
            "55c89531.565bbc"
        ],
        "x": 79.5,
        "y": 1043.25,
        "wires": [
            [
                "fdb0e5df.122d"
            ]
        ]
    },
    {
        "id": "e3a94335.4a3e5",
        "type": "ui_text",
        "z": "b6888d94.9ae688",
        "group": "cb35aeca.fc6ed",
        "order": 3,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "Raspberry IP",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 427.5,
        "y": 1047,
        "wires": []
    },
    {
        "id": "fdb0e5df.122d",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : IP",
        "func": "// Format \nIP = msg.payload.d.value;\n\nmsg.payload = IP; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 219,
        "y": 1044,
        "wires": [
            [
                "e3a94335.4a3e5",
                "23face85.216f62"
            ]
        ]
    },
    {
        "id": "e7807d3a.e77438",
        "type": "link in",
        "z": "b6888d94.9ae688",
        "name": "Raspberry WIFI",
        "links": [
            "166051d.3ae5cae"
        ],
        "x": 85,
        "y": 1102,
        "wires": [
            [
                "c5f54599.cd0588"
            ]
        ]
    },
    {
        "id": "4c07288b.9b1008",
        "type": "ui_text",
        "z": "b6888d94.9ae688",
        "group": "cb35aeca.fc6ed",
        "order": 4,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "Raspberry WIFI",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 443,
        "y": 1105.75,
        "wires": []
    },
    {
        "id": "c5f54599.cd0588",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : WIFI",
        "func": "// Format \nWIFI = msg.payload.d.value;\n\nmsg.payload = WIFI;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 224.5,
        "y": 1102.75,
        "wires": [
            [
                "4c07288b.9b1008",
                "23face85.216f62"
            ]
        ]
    },
    {
        "id": "f3ea09f.47ae2f8",
        "type": "ibmiot in",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "RaspWIFI",
        "commandType": "",
        "format": "json",
        "name": "IoT : RaspWIFI",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": false,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 98,
        "y": 546,
        "wires": [
            [
                "dab87279.c7ccd"
            ]
        ]
    },
    {
        "id": "166051d.3ae5cae",
        "type": "link out",
        "z": "fb7a4bfb.9a672",
        "name": "RaspWIFI",
        "links": [
            "e7807d3a.e77438"
        ],
        "x": 627.5,
        "y": 543.5,
        "wires": []
    },
    {
        "id": "4a3e1ffb.478108",
        "type": "ui_button",
        "z": "b6888d94.9ae688",
        "name": "green",
        "group": "b11c90e2.26d558",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "green",
        "payloadType": "str",
        "topic": "alarm",
        "x": 90,
        "y": 707,
        "wires": [
            [
                "d69f7250.8fb1c"
            ]
        ]
    },
    {
        "id": "9ce7494b.e0a6c8",
        "type": "ui_button",
        "z": "b6888d94.9ae688",
        "name": "blue",
        "group": "b11c90e2.26d558",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "blue",
        "icon": "",
        "payload": "blue",
        "payloadType": "str",
        "topic": "alarm",
        "x": 82,
        "y": 751,
        "wires": [
            [
                "d69f7250.8fb1c"
            ]
        ]
    },
    {
        "id": "5fbd1ec0.af073",
        "type": "ui_button",
        "z": "b6888d94.9ae688",
        "name": "yellow",
        "group": "b11c90e2.26d558",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "yellow",
        "icon": "",
        "payload": "yellow",
        "payloadType": "str",
        "topic": "alarm",
        "x": 81,
        "y": 671,
        "wires": [
            [
                "d69f7250.8fb1c"
            ]
        ]
    },
    {
        "id": "c46da00.6ff5be",
        "type": "ui_form",
        "z": "b6888d94.9ae688",
        "name": "message",
        "label": "",
        "group": "aa9565e3.66543",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Message",
                "value": "message",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "message": ""
        },
        "payload": "",
        "topic": "message",
        "x": 218,
        "y": 767,
        "wires": [
            [
                "d69f7250.8fb1c"
            ]
        ]
    },
    {
        "id": "163813b6.53e1ac",
        "type": "ui_button",
        "z": "b6888d94.9ae688",
        "name": "Smile",
        "group": "aa9565e3.66543",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Smile",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Smile",
        "payloadType": "str",
        "topic": "smile",
        "x": 349,
        "y": 835,
        "wires": [
            [
                "4ea1ab22.899a0c"
            ]
        ]
    },
    {
        "id": "9512a79c.68ab5",
        "type": "ui_switch",
        "z": "b6888d94.9ae688",
        "name": "Show Temp",
        "label": "Show Temp on Raspberry",
        "group": "aa9565e3.66543",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 633,
        "y": 870,
        "wires": [
            [
                "fac8eddf.d5bd48"
            ]
        ]
    },
    {
        "id": "e7a159a2.3ae6f8",
        "type": "ui_button",
        "z": "b6888d94.9ae688",
        "name": "Turn off Led",
        "group": "aa9565e3.66543",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "turn off led",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "alarm",
        "x": 264,
        "y": 615,
        "wires": [
            [
                "d69f7250.8fb1c"
            ]
        ]
    },
    {
        "id": "c81fdf8.e19c12",
        "type": "ui_button",
        "z": "b6888d94.9ae688",
        "name": "Reboot Raspberry",
        "group": "cb35aeca.fc6ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot Raspberry",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "reboot",
        "payloadType": "str",
        "topic": "reboot",
        "x": 141,
        "y": 817,
        "wires": [
            [
                "d69f7250.8fb1c"
            ]
        ]
    },
    {
        "id": "f0595fc3.cd19d",
        "type": "watson-translator",
        "z": "93183224.f11c3",
        "name": "",
        "action": "translate",
        "basemodel": "es-en",
        "domain": "conversational",
        "srclang": "en",
        "destlang": "es",
        "password": "",
        "custom": "",
        "domainhidden": "conversational",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "es-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "ldparamshidden2": "true",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/language-translator/api",
        "x": 451.5,
        "y": 228.5,
        "wires": [
            [
                "ec226257.c144b8"
            ]
        ]
    },
    {
        "id": "aa75b510.7e14",
        "type": "switch",
        "z": "93183224.f11c3",
        "name": "Language",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "spanish",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "french",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 223,
        "y": 293,
        "wires": [
            [
                "f0595fc3.cd19d"
            ],
            [
                "cf21c7cf.c4933"
            ],
            [
                "7652cfd7.a42c18"
            ]
        ]
    },
    {
        "id": "24fba83a.df892",
        "type": "function",
        "z": "93183224.f11c3",
        "name": "format : Spanish context",
        "func": "msg.command = context.global.language;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 214,
        "y": 179,
        "wires": [
            [
                "aa75b510.7e14"
            ]
        ]
    },
    {
        "id": "ec226257.c144b8",
        "type": "watson-text-to-speech",
        "z": "93183224.f11c3",
        "name": "",
        "lang": "es-ES",
        "langhidden": "es-ES",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "es-ES_EnriqueVoice",
        "voicehidden": "es-ES_EnriqueVoice",
        "format": "audio/wav",
        "password": "",
        "payload-response": true,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
        "x": 659,
        "y": 202,
        "wires": [
            [
                "8e0b3e3d.85a5c"
            ]
        ]
    },
    {
        "id": "d9055142.351a4",
        "type": "ui_dropdown",
        "z": "b6888d94.9ae688",
        "name": "",
        "label": "Language",
        "place": "Select option",
        "group": "7514e53.8fbea1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "english",
                "type": "str"
            },
            {
                "label": "",
                "value": "french",
                "type": "str"
            },
            {
                "label": "",
                "value": "spanish",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 616.5,
        "y": 764,
        "wires": [
            [
                "9b1b5371.91d648"
            ]
        ]
    },
    {
        "id": "9b1b5371.91d648",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : Status",
        "func": "// Format \n\n\ncontext.global.language = msg.payload;   \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 802,
        "y": 764,
        "wires": [
            []
        ]
    },
    {
        "id": "412eb505.b1a3fc",
        "type": "function",
        "z": "93183224.f11c3",
        "name": "format : Spanish context",
        "func": "if (context.global.spanish == true){\n    msg.command = \"spanish\";\n}\n  else {\n    msg.command = \"english\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 181,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "cf21c7cf.c4933",
        "type": "watson-translator",
        "z": "93183224.f11c3",
        "name": "",
        "action": "translate",
        "basemodel": "es-en",
        "domain": "conversational",
        "srclang": "en",
        "destlang": "fr",
        "password": "",
        "custom": "",
        "domainhidden": "conversational",
        "srclanghidden": "en",
        "destlanghidden": "fr",
        "basemodelhidden": "es-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "ldparamshidden2": "true",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/language-translator/api",
        "x": 451,
        "y": 275,
        "wires": [
            [
                "711823d4.20f9f4"
            ]
        ]
    },
    {
        "id": "711823d4.20f9f4",
        "type": "watson-text-to-speech",
        "z": "93183224.f11c3",
        "name": "",
        "lang": "fr-FR",
        "langhidden": "fr-FR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "fr-FR_ReneeVoice",
        "voicehidden": "es-ES_EnriqueVoice",
        "format": "audio/wav",
        "password": "",
        "payload-response": true,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
        "x": 663,
        "y": 266,
        "wires": [
            [
                "8e0b3e3d.85a5c"
            ]
        ]
    },
    {
        "id": "3f0d817d.f21fa6",
        "type": "link out",
        "z": "b6888d94.9ae688",
        "name": "Turn Color",
        "links": [
            "eff316c9.2a8038"
        ],
        "x": 359,
        "y": 1293,
        "wires": []
    },
    {
        "id": "4804e908.7af238",
        "type": "link in",
        "z": "b6888d94.9ae688",
        "name": "Raspberry Command Result",
        "links": [
            "700bf887.def998"
        ],
        "x": 80,
        "y": 1183,
        "wires": [
            [
                "63704fef.37e2f8"
            ]
        ]
    },
    {
        "id": "312875e3.e47d4a",
        "type": "ui_text",
        "z": "b6888d94.9ae688",
        "group": "53de821.f84d1fc",
        "order": 3,
        "width": "20",
        "height": "15",
        "name": "Result",
        "label": "Reslut",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 477,
        "y": 1172.75,
        "wires": []
    },
    {
        "id": "63704fef.37e2f8",
        "type": "function",
        "z": "b6888d94.9ae688",
        "name": "format : Command Result",
        "func": "// Format \nresult = msg.payload.d.value;\n\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 259.5,
        "y": 1183.75,
        "wires": [
            [
                "312875e3.e47d4a"
            ]
        ]
    },
    {
        "id": "c18ffb09.658f58",
        "type": "comment",
        "z": "b6888d94.9ae688",
        "name": "Raspberry Command",
        "info": "",
        "x": 148,
        "y": 1138,
        "wires": []
    },
    {
        "id": "97f4ecfc.7c61b",
        "type": "ibmiot in",
        "z": "fb7a4bfb.9a672",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "CommandResult",
        "commandType": "",
        "format": "json",
        "name": "IoT : CommandResult",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": false,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 126,
        "y": 618,
        "wires": [
            [
                "700bf887.def998"
            ]
        ]
    },
    {
        "id": "700bf887.def998",
        "type": "link out",
        "z": "fb7a4bfb.9a672",
        "name": "CommandResult",
        "links": [
            "4804e908.7af238"
        ],
        "x": 398.5,
        "y": 617.5,
        "wires": []
    },
    {
        "id": "b9ccba79.af7a5",
        "type": "ui_text",
        "z": "b6888d94.9ae688",
        "group": "53de821.f84d1fc",
        "order": 2,
        "width": "6",
        "height": "3",
        "name": "Command ",
        "label": "Command",
        "format": "{{msg.payload.Command}}",
        "layout": "col-center",
        "x": 478,
        "y": 1224,
        "wires": []
    },
    {
        "id": "a14d1d0.f9272e",
        "type": "ui_form",
        "z": "b6888d94.9ae688",
        "name": "command",
        "label": "",
        "group": "53de821.f84d1fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Command",
                "value": "Command",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "Command": ""
        },
        "payload": "",
        "topic": "command",
        "x": 187,
        "y": 1263,
        "wires": [
            [
                "b9ccba79.af7a5",
                "3f0d817d.f21fa6"
            ]
        ]
    },
    {
        "id": "d06d3ade.da2a68",
        "type": "http in",
        "z": "ab9101a7.2db43",
        "name": "Get Sense Hat Data",
        "url": "/envData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 107.5,
        "y": 61.25,
        "wires": [
            [
                "5b3eaa8e.aedd74"
            ]
        ]
    },
    {
        "id": "f83f4864.8fcc28",
        "type": "http response",
        "z": "ab9101a7.2db43",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 702.5,
        "y": 114.5,
        "wires": []
    },
    {
        "id": "5b3eaa8e.aedd74",
        "type": "function",
        "z": "ab9101a7.2db43",
        "name": "JSON format Env Data",
        "func": "msg.payload = \"{ \\\"data\\\" : {\";\nmsg.payload += \"\\\"time\\\" : \\\"\"+context.global.envDatadate+\"\\\"\";\nmsg.payload += \",\\\"temperature\\\" : \\\"\"+context.global.temperature+\"\\\"\";\nmsg.payload += \",\\\"humidity\\\" : \\\"\"+context.global.humidity+\"\\\"\";\nmsg.payload += \",\\\"pressure\\\" : \\\"\"+context.global.pressure+\"\\\"\";\nmsg.payload += \"}}\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 324.5,
        "y": 60.75,
        "wires": [
            [
                "af7c7f3b.5f5088"
            ]
        ]
    },
    {
        "id": "af7c7f3b.5f5088",
        "type": "json",
        "z": "ab9101a7.2db43",
        "name": "",
        "pretty": false,
        "x": 530.5,
        "y": 133.75,
        "wires": [
            [
                "f83f4864.8fcc28",
                "4f8c23cd.e2807c"
            ]
        ]
    },
    {
        "id": "4f8c23cd.e2807c",
        "type": "debug",
        "z": "ab9101a7.2db43",
        "name": "Rest API",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 676.5,
        "y": 267.5,
        "wires": []
    },
    {
        "id": "f233a7e7.8949f",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "Set : Global Context variable",
        "func": "// Set global Context variable\n\n  now = new Date();\n  year = \"\" + now.getFullYear();\n  month = \"\" + (now.getMonth() + 1); if (month.length == 1) { month = \"0\" + month; }\n  day = \"\" + now.getDate(); if (day.length == 1) { day = \"0\" + day; }\n  hour = \"\" + now.getHours(); if (hour.length == 1) { hour = \"0\" + hour; }\n  minute = \"\" + now.getMinutes(); if (minute.length == 1) { minute = \"0\" + minute; }\n  second = \"\" + now.getSeconds(); if (second.length == 1) { second = \"0\" + second; }\n  dateTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second;\n\ncontext.global.envDatadate = dateTime;\ncontext.global.temperature = msg.payload.d.temperature;\ncontext.global.humidity = msg.payload.d.humidity;\ncontext.global.pressure = msg.payload.d.pressure;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 388,
        "y": 233,
        "wires": [
            []
        ]
    },
    {
        "id": "14d0a04a.84bca8",
        "type": "http in",
        "z": "ab9101a7.2db43",
        "name": "Get Sense Hat Data",
        "url": "/raspData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 95,
        "y": 198,
        "wires": [
            [
                "624ee990.cfef68"
            ]
        ]
    },
    {
        "id": "624ee990.cfef68",
        "type": "function",
        "z": "ab9101a7.2db43",
        "name": "JSON format Rasp Data",
        "func": "msg.payload = \"{ \\\"data\\\" : {\";\nmsg.payload += \"\\\"time\\\" : \\\"\"+new Date()+\"\\\"\";\nmsg.payload += \",\\\"CPUtemp\\\" : \\\"\"+context.global.RaspCPUtemp+\"\\\"\";\nmsg.payload += \",\\\"CPU\\\" : \\\"\"+context.global.RaspCPU+\"\\\"\";\nmsg.payload += \",\\\"memory\\\" : \\\"\"+context.global.RaspMem+\"\\\"\";\nIP = context.global.RaspIP;\nIP = IP.replace(/\\n/g,\" \");\nIP = IP.replace(/\"/g,\" \");\nIP = IP.replace(/<br>/g,\" \");\nmsg.payload += \",\\\"IP\\\" : \\\"\"+IP+\"\\\"\";\nWIFI = context.global.RaspWIFI;\nWIFI = WIFI.replace(/\\n/g,\" \");\nWIFI = WIFI.replace(/\"/g,\" \");\nWIFI = WIFI.replace(/<br>/g,\" \");\n\nmsg.payload += \",\\\"WIFI\\\" : \\\"\"+WIFI+\"\\\"\";\nmsg.payload += \"}}\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 325,
        "y": 196,
        "wires": [
            [
                "af7c7f3b.5f5088"
            ]
        ]
    },
    {
        "id": "f2b3b9c6.de245",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "Set : Global Context variable",
        "func": "// Set global Context variable\ncontext.global.RaspCPUtemp = msg.payload.d.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 427,
        "y": 341,
        "wires": [
            [
                "90a740ee.f7464"
            ]
        ]
    },
    {
        "id": "4e3fa4e5.1d8e1c",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "Set : Global Context variable",
        "func": "// Set global Context variable\ncontext.global.RaspCPU = msg.payload.d.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 392,
        "wires": [
            [
                "abebe8e0.7e69e"
            ]
        ]
    },
    {
        "id": "ea1567bf.9b667",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "Set : Global Context variable",
        "func": "// Set global Context variable\ncontext.global.RaspMem = msg.payload.d.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 398,
        "y": 435,
        "wires": [
            [
                "2a801319.e126ec",
                "630ab2b.68398cc"
            ]
        ]
    },
    {
        "id": "63c35143.7fe088",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "Set : Global Context variable",
        "func": "// Set global Context variable\ncontext.global.RaspIP = msg.payload.d.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 394,
        "y": 488,
        "wires": [
            [
                "2a801319.e126ec",
                "55c89531.565bbc"
            ]
        ]
    },
    {
        "id": "dab87279.c7ccd",
        "type": "function",
        "z": "fb7a4bfb.9a672",
        "name": "Set : Global Context variable",
        "func": "// Set global Context variable\ncontext.global.RaspWIFI = msg.payload.d.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 384,
        "y": 541,
        "wires": [
            [
                "2a801319.e126ec",
                "166051d.3ae5cae"
            ]
        ]
    },
    {
        "id": "2a801319.e126ec",
        "type": "debug",
        "z": "fb7a4bfb.9a672",
        "name": "IoT",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 641.5,
        "y": 604,
        "wires": []
    },
    {
        "id": "23face85.216f62",
        "type": "debug",
        "z": "b6888d94.9ae688",
        "name": "Dashboard",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 615,
        "y": 980,
        "wires": []
    },
    {
        "id": "3d89bd2c.dfacda",
        "type": "http in",
        "z": "ab9101a7.2db43",
        "name": "Get temprature from DB",
        "url": "/tempsData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 117,
        "y": 289,
        "wires": [
            [
                "741ccf48.12e918"
            ]
        ]
    },
    {
        "id": "741ccf48.12e918",
        "type": "dashDB in",
        "z": "ab9101a7.2db43",
        "dashDB": "",
        "service": "dashDB for PatRaspberry",
        "query": "select temperature, timesent\nfrom sensedata\norder by timesent desc\nFETCH FIRST 20 ROWS ONLY;",
        "params": "",
        "name": "Get temps",
        "x": 310.5,
        "y": 357.25,
        "wires": [
            [
                "453aa7ca.f6e42"
            ]
        ]
    },
    {
        "id": "453aa7ca.f6e42",
        "type": "function",
        "z": "ab9101a7.2db43",
        "name": "JSON format temps",
        "func": "var json = \"{ \\\"data\\\" : {\";\n\n//json += \"\\\"time\\\" : [\";\n//for (i = 0; i < msg.payload.length; i++) { \n//    json += \"\\\"\"+msg.payload[i].TIMESENT+\"\\\",\";\n//}\n//json = json.slice(0,-1);\n//json += \"]\";\n\n//json += \",\";\n\njson += \"\\\"temps\\\" : [\";\nfor (i = 0; i < msg.payload.length; i++) { \n    json += msg.payload[i].TEMPERATURE+\",\";\n}\njson = json.slice(0,-1);\njson += \"]\";\n\n\njson += \"}}\";\n\n\nmsg.payload = json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 424,
        "y": 279,
        "wires": [
            [
                "4f8c23cd.e2807c",
                "af7c7f3b.5f5088"
            ]
        ]
    },
    {
        "id": "646b0095.aea538",
        "type": "http in",
        "z": "ab9101a7.2db43",
        "name": "Get humidity from DB",
        "url": "/humidityData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 156,
        "y": 411,
        "wires": [
            [
                "76acf06.622929"
            ]
        ]
    },
    {
        "id": "76acf06.622929",
        "type": "dashDB in",
        "z": "ab9101a7.2db43",
        "dashDB": "",
        "service": "dashDB for PatRaspberry",
        "query": "select humidity, timesent\nfrom sensedata \norder by timesent desc\nFETCH FIRST 20 ROWS ONLY;",
        "params": "",
        "name": "Get humidity",
        "x": 359.5,
        "y": 479.25,
        "wires": [
            [
                "36defbe9.e61f34"
            ]
        ]
    },
    {
        "id": "36defbe9.e61f34",
        "type": "function",
        "z": "ab9101a7.2db43",
        "name": "JSON format temps",
        "func": "var json = \"{ \\\"data\\\" : {\";\n\n//json += \"\\\"time\\\" : [\";\n//for (i = 0; i < msg.payload.length; i++) { \n//    json += \"\\\"\"+msg.payload[i].TIMESENT+\"\\\",\";\n//}\n//json = json.slice(0,-1);\n//json += \"]\";\n\n//json += \",\";\n\njson += \"\\\"humidity\\\" : [\";\nfor (i = 0; i < msg.payload.length; i++) { \n    json += msg.payload[i].HUMIDITY+\",\";\n}\njson = json.slice(0,-1);\njson += \"]\";\n\n\njson += \"}}\";\n\n\nmsg.payload = json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 473,
        "y": 401,
        "wires": [
            [
                "af7c7f3b.5f5088"
            ]
        ]
    }
]